[submodule ".registry"]
	path = .registry
	url = https://github.com/cambridgesportsanalytics/cambridgesportsanalytics.r-universe.dev
	branch = HEAD
[submodule "rbpengine"]
	path = rbpengine
	url = https://github.com/CambridgeSportsAnalytics/rbp-engine-r
